.contactContainer h1 {
  font-size: 6rem;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 1.2;
  font-family: cursive;
  background: linear-gradient(to right, var(--activeColor), var(--mainColor));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.contactContainer .formContainer form {
  width: 100%;
}
.contactContainer .formContainer {
  /* width: 100%;
  height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.contactContainer .formContainer form .input-style {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  margin: 0 auto;
}
.input-style input,
.input-style select,
.input-style textarea {
  padding: 0.75rem;
  border: 2px solid var(--mainColor);
  box-shadow: 5px 5px 10px var(--activeColor) inset;
  outline: none;
}

form button {
  display: block;
  width: 20%;
  margin: 0 auto;
  border: 2px solid var(--mainColor);
  margin-top: 1rem;
  box-shadow: 5px 5px 10px var(--activeColor) inset;
  padding: 0.75rem;
}

.input-style input:focus,
.input-style select:focus,
.input-style textarea:focus {
  border-color: var(--activeColor);
  box-shadow: 0 0 8px var(--activeColor);
}
.textarea-style {
  width: 100%;
  height: 150px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: vertical;
  box-sizing: border-box;
}
form button:hover {
  background: var(--mainColor);
  color: white;
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .contactContainer .formContainer form .input-style {
    width: 90%;
  }

  form button {
    width: 50%;
  }
}
