.mainContainer {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  color: #ffffff;
  margin: 0;
  background: url("/assets/christian.jpeg") center/cover no-repeat;
  min-height: 50rem; /* or a value that fits your layout */
}

.left,
.right {
  margin: 1.5rem;
}
.imgOfChris {
  text-align: center;
  color: #ffffff;
}

/* Responsive Grid: stack items on small screens */
@media (max-width: 768px) {
  .mainContainer {
    grid-template-columns: 1fr; /* stack left and right vertically */
  }
}
