.mainContainer {
  position: relative;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  color: #ffffff;
  margin: 0;
  min-height: 50rem;
  width: 100%;
  height: 50%;
  align-content: center;
  border-top-left-radius: 25rem;
  border-top-right-radius: 25rem;
  overflow: hidden;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity 5s ease-in-out, transform 5s ease-in-out;
  z-index: 0;
  transform: scale(1.05); /* start slightly zoomed */
}
.backgroundImage.active {
  opacity: 1;
  transform: scale(1);
}
.backgroundImage.inactive {
  opacity: 0;
  transform: scale(1.05);
}
.left,
.right {
  margin: 1.5rem;
  z-index: 1; /* content stays above the images */
}

.right {
  min-height: 10rem;
}
.imgOfChris {
  text-align: center;
  color: #ffffff;
}
.typingWrapper {
  min-height: 8rem;
  display: flex;
  align-items: center;
}
.typingText {
  min-height: 4rem;
  display: flex;
  align-items: center;
  white-space: pre-wrap;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.typingText.hidden {
  opacity: 0;
}

/* Responsive Grid: stack items on small screens */
@media (max-width: 768px) {
  .mainContainer {
    grid-template-columns: 1fr; /* stack left and right vertically */
  }
  .typingText {
    min-height: 8rem; /* more padding for mobile line wrapping */
  }
}
