.mainContainer {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  color: #ffffff;
  margin: 1rem;
  background: url("/assets/books.jpeg") center/cover no-repeat;
}

.left,
.right {
  margin: 1.5rem;
}
.imgOfChris {
  border-radius: 50%;
  width: 100%;
  max-width: 300p;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}
.btnContainer {
  display: flex;
  justify-content: center;
}

/* Responsive Grid: stack items on small screens */
@media (max-width: 768px) {
  .mainContainer {
    grid-template-columns: 1fr; /* stack left and right vertically */
  }
}
