.mainProjectContainer h1 {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(to right, var(--activeColor), var(--mainColor));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1rem;
}

.mainProjectContainer .projectsContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.mainProjectContainer .projectsContainer .projectDetails {
  display: flex;
  flex: 0 2 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.mainProjectContainer .projectsContainer .projectDetails img {
  object-fit: cover;
  object-position: center -1.5rem;
  width: 200px;
  height: 200px;
  flex-shrink: 0; /*prevent image from shrinking */
}
.projectContent {
  flex: 1; /* take the remaining space */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projectDetails h4 {
  background: linear-gradient(to right, var(--activeColor), var(--mainColor));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  justify-content: center;
  text-align: center;
}
.projectDetails p {
  background: linear-gradient(to right, var(--activeColor), var(--mainColor));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.projectContent .links {
  text-decoration: none;
  text-align: center;
}

/* Animate images */
@keyframes breathe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.projectDetails img {
  animation: breathe 3s ease-in-out infinite;
}

@media (max-width: 768px) {
  .mainProjectContainer h1 {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .mainProjectContainer h1 {
    width: 100%;
  }
}
