/***************************
****************************
Base Styles
****************************
***************************/
:root {
  --mainColor: #ced6e0;
  --mainColorLight: #29094a;
  --activeColor: #00b3ff;
  --textColor: #ffffff;
  --darkMode:#121212;
  --ligthColor:#f5f5f5;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px; /* good base for rem scaling */
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", system-ui, sans-serif;
  background-color: var(--textColor);
  color: var(--darkMode);
  line-height: 1.6;
  padding: 1rem;

}
/* Apply dark mode */
body.dark-mode{
  background-color: var(--darkMode);
  color:var(--ligthColor);
}

/* Optional base spacing utility for sections */
section {
  margin-bottom: 2rem;
}
h1,
h2,
h3 {
  font-weight: bold;
}
.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-wrap {
  flex: 1;
}
.center {
  text-align: center;
}

header .center {

  padding: 2rem;
}

/***************************
****************************
Layout Styles
****************************
***************************/

/***************************
****************************
Module Styles
****************************
***************************/

.home-button {
  display: inline-block;
  padding: 12px 30px;
  background-color: var(--textColor);
  color: var(--mainColorLight);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.home-button:hover {
  background-color: var(--mainColor);
  color: var(--textColor);
  transform: translateY(-3px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.home-button:active {
  background-color: #388e3c;
  transform: translateY(1px);
}
/***************************
****************************
Theme Styles
****************************
***************************/

/*****************************
*****************************
Image Style  
******************************
***************************+**/
