/***************************
****************************
Reset Styles
****************************
***************************/
@import "normalize.css";

/* Change all elements to use border-box */
html,
body {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/***************************
****************************
Base Styles
****************************
***************************/
:root {
  --mainColor: #ced6e0;
  --mainColorLight: #414042;
  --activeColor: #00b3ff;
  --textColor: #ffffff;
}
body,
html,
#root {
  color: var(--mainColorLight);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  height: 100%;
  margin: 0;
}
h1,
h2,
h3 {
  font-weight: bold;
}
.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-wrap {
  flex: 1;
}
.center {
  text-align: center;
}
header .center {
  color: var(--mainColorLight);
  padding: 2rem;
}
/***************************
****************************
Layout Styles
****************************
***************************/

/***************************
****************************
Module Styles
****************************
***************************/

.home-button {
  display: inline-block;
  padding: 12px 30px;
  background-color: var(--textColor);
  color: var(--mainColorLight);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.home-button:hover {
  background-color: var(--mainColor);
  color: var(--textColor);
  transform: translateY(-3px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.home-button:active {
  background-color: #388e3c;
  transform: translateY(1px);
}
/***************************
****************************
Theme Styles
****************************
***************************/
.background-primary {
  background: #437733; /*Orange*/
}
.background-secondary {
  background: #0fa0d5; /*Blue*/
}
.background-tertiary {
  background: #3b38e6; /*Green*/
}
/*****************************
*****************************
Image Style  
******************************
***************************+**/
