.not-found{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.not-found .btn-notFound{
    margin-top: 2rem;
    text-decoration: none;
    border: 2px solid white;
    padding: 1rem;
    border-radius: 1rem;
    background-color: aqua;
    outline: none;
    cursor: pointer;
}